<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="kr.or.ddit.model.MemberVo" alias = "MemberVo"/>
		<typeAlias type="kr.or.ddit.model.BoardMenuVo" alias = "BoardMenuVo"/>
		<typeAlias type="kr.or.ddit.model.BoardVo" alias = "BoardVo"/>
		<typeAlias type="kr.or.ddit.model.ReplyVo" alias = "ReplyVo"/>
		<typeAlias type="kr.or.ddit.model.FileVo" alias = "FileVo"/>
	</typeAliases>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@localhost:1521/xe"/>
        <property name="username" value="Lss60"/>
        <property name="password" value="java"/>
      </dataSource>
    </environment>
  </environments>
  
  <mappers>
    <mapper resource="kr/or/ddit/db/mapper/member.xml"/>
    <mapper resource="kr/or/ddit/db/mapper/boardmenu.xml"/>
    <mapper resource="kr/or/ddit/db/mapper/board.xml"/>
    <mapper resource="kr/or/ddit/db/mapper/reply.xml"/>
    <mapper resource="kr/or/ddit/db/mapper/file.xml"/>
  </mappers>
  
</configuration>